/* reseteo general */
:root{
    --darkgreen:#1D411B;
    --dark2green:#2D6F28;
    --green:#2D6F28;
    --lightgreen:#4AED42;
    --limon:#BCED43;
    --Chestnut:#eee;
    --color-menu:#fff;
}
html{
    scroll-behavior: smooth;
    font-size: 18px;
}
h2,h3{
    background-color: var(--dark2green);
}
*,*::after,*::before{
    box-sizing: border-box;    
}
pre{    
        margin: 0;
        border: 1px solid green;
        white-space: pre-wrap;     
        word-wrap: break-word;
    
}
body{    
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.cabecera{
    background-color: var(--darkgreen);
    width: 100%;
    position:sticky;
    top: 0;
    left: 0; 
    text-transform:capitalize;
    display: flex;
    justify-content:space-around ;
    align-items: center;
   
}
.container-universal{    
    background:var(--Chestnut);        
}
/* for mobile */
.flex-container{ 
    margin: auto;
    width: 90vw;  
    display: grid;   
    
}
.cabecera__title{
    margin:0;
}
.cabecera a{
    color: var(--color-menu);
    text-decoration: none;
}
.cabecera a:visited{
    color: var(--color-menu);    
}
.cabecera a:hover{    
    border: 1px solid var(--color-menu);

}
